.mainPage {
  display: grid;
  justify-content: center;
}
.editorWrapper {
  position: relative;
  height: 100vh;
  width: 80vw;
  padding: 40px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-color: #d9d9d9;
  overflow-y: scroll;
  border-radius: 16px;
}

.editorWrapper::-webkit-scrollbar {
  width: 0;
}
